/* * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} */

body {
  /* font-size: 1.6rem; */
  margin: 0;
  padding: 0;
}

.clear-link {
  color: inherit !important;
  text-decoration: none !important;
}

.clear-btn {
  text-decoration: none;
  border: none;
  display: inline-block;

}

img {
  display: inline-block;
}

.dropdown-menu {
  font-size: 1rem;
}

/* .content {
  padding: 10px;
  width: 100%;
  height: 900px;
} */

.info-card {
  margin-top: 10px;
  color: black;
  font-size: 1rem;
  background-color: #BDC3C7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  padding: 5px 20px;
  border-radius: 12px;
  /* border: 2px solid #bdc3c7; */
}

.info-card:hover {
  cursor: pointer;
}

.navbar-brand {
  font-size: 20px;
}

#user_input {
  margin-bottom: 2%;
}
