{% extends "../layout.html" %}

{% block content %}
<section class="container">

<h2>Сброс пароля</h2>
<!-- <h5>Password reset sent</h5> -->
<p>Мы отправили вам инструкцию по смене пароля на электронную почту, 
    если указанный вами адрес электронной почты существует, 
    вы получите письмо в ближайшее время.</p>

<p>Если вы не получили письмо, убедитесь, что вы ввели адрес, 
    который вы указали при регистрации, или проверьте папку со спамом.</p>
<p> <a href="{% url 'home' %}">Авторизоваться</a></p>

<section class="container">

{% endblock %}
