{% extends "../layout.html" %}

{% block content %}
<section class="container">
  <h2>Зарегистрироваться</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button type="submit">Зарегистрироваться</button>
  </form>
  <p> Есть аккаунт? <a href="{% url 'login' %}">Авторизируйтесь</a></p>

{% endblock %}
