{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block digital_economy_list %}
  <li><a href="/types/DigitalEconomy/">Цифровая экономика</a></li>
  {% block digital_economy %}
  {% endblock %}
{% endblock %}

{% block content %}
<section class="container">
  <input class="form-control col-sm 3" id='user_input'  placeholder="Поиск" type="text">
  {% for digitaleconomy in digitaleconomys %}
  <div class="info-card" onclick="location.href='{% url 'detailed' tab_name digitaleconomy.id %}'">
    <h3>{{digitaleconomy.text}}</h3>
    <h2>{{digitaleconomy.date|date:"d-m-Y"}}</h2>
  </div>
  {% endfor %}
</section>

{% load static %}
  <script src="{% static 'js/cards_filter.js' %}"></script>

{% endblock %}
