{% extends "digitaleconomy_list.html" %}

{% block title %}Главная{% endblock %}

{% block digital_economy %}
  <li><a href="types/DigitalEconomy/32/">/{{ data.text }}</a></li>
{% endblock %}

{% block content %}
<section class="container">

  <div align="right" style="margin-top: 1ex;" id="favorite">
    {% if is_favorite %}
      <a href=" {% url 'favorite_post' "DigitalEconomy" data.id %} "> 
        <i style="color: #343a40" class="fas fa-bookmark fa-2x"></i>
      </a>
    {% else %}
      <a href=" {% url 'favorite_post' "DigitalEconomy" data.id %} "> 
        <i style="color: #343a40" class="far fa-bookmark fa-2x"></i>
      </a>
    {% endif %}
  </div>

  {% if data.document_number %}
  <h2><strong>Номер: </strong>{{ data.document_number }}</h2>
  {% endif %}
  <h2><strong>Текст: </strong> {{ data.text }} </h2>
  {% if data.date %}
  <h2><strong>Опубликовано: </strong>{{ data.date|date:'d-m-Y' }}</h2>
  {% endif %}
  <h2><strong><a href= {{ data.link }} >Ссылка на оригинал</a></strong></h2>
</section>
{% endblock %}
