{% extends "layout.html" %}

{% load filter %}

{% block title %}Главная{% endblock %}

{% block content %}

<section class="container">

  <!-- GRANT -->
  <p>
    <button style="background-color: #343a40;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#grant" aria-expanded="false" aria-controls="collapseExample">
      Grant
    </button>
  </p>
  <div class="collapse show" id="grant">
      {% for grant in favorite_grant %}
        <div class="info-card" onclick="location.href='{% url 'detailed' grant|get_model_name grant.id %}'">
          <h6>{{grant.text}}</h6>
          <p>{{grant.time|date:"d-m-Y"}}</p>
        </div>
      {% endfor %}
  </div>

  <!-- Digital Economy -->
  <p>
    <button style="background-color: #343a40;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#digitaleconomy" aria-expanded="false" aria-controls="collapseExample">
      Digital Economy
    </button>
  </p>
  <div class="collapse show" id="digitaleconomy">
      {% for digitaleconomy in favorite_digitaleconome %}
        <div class="info-card" onclick="location.href='{% url 'detailed' digitaleconomy|get_model_name digitaleconomy.id %}'">
          <h6>{{digitaleconomy.text}}</h6>
          <p>{{digitaleconomy.date|date:"d-m-Y"}}</p>
        </div>
      {% endfor %}
  </div>

  <!-- FZ223 -->
  <p>
    <button style="background-color: #343a40;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fz223" aria-expanded="false" aria-controls="collapseExample">
      ФЗ 223
    </button>
  </p>
  <div class="collapse show" id="fz223">
      {% for fz223 in favorite_fz223 %}
        <div class="info-card" onclick="location.href='{% url 'detailed' fz223|get_model_name fz223.id %}'">
          <h6>{{fz223.name}}</h6>
          <p>{{fz223.create_date|date:"d-m-Y"}}</p>
        </div>
      {% endfor %}
  </div>

  <!-- FZ44 -->
  <p>
    <button style="background-color: #343a40;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fz44" aria-expanded="false" aria-controls="collapseExample">
        ФЗ 44
    </button>
  </p>
  <div class="collapse show" id="fz44">
      {% for fz44 in favorite_fz44 %}
        <div class="info-card" onclick="location.href='{% url 'detailed' fz44|get_model_name fz44.id %}'">
          <h6>{{fz44.org_name}}</h6>
          <h6>{{fz44.purchase_object}}</h6>
          <p>{{fz44.create_date|date:"d-m-Y"}}</p>
        </div>
      {% endfor %}
  </div>

</section>

{% endblock %}