{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">

  <div align="right" style="margin-top: 1ex;" id="favorite">
    {% if is_favorite %}
      <a href=" {% url 'favorite_post' "Fcp" data.id %} "> 
        <i style="color: #343a40" class="fas fa-bookmark fa-2x"></i>
      </a>
    {% else %}
      <a href=" {% url 'favorite_post' "Fcp" data.id %} "> 
        <i style="color: #343a40" class="far fa-bookmark fa-2x"></i>
      </a>
    {% endif %}
  </div>

  {% if data.card_name %}
  <h2><strong>Категория </strong>{{ data.card_name }}</h2>
  {% endif %}
  {% if data.title %}
  <h2><strong>Заглавие </strong>{{ data.title }}</h2>
  {% endif %}
  {% if data.lead %}
  <h2><strong>Описание </strong>{{ data.lead }}</h2>
  {% endif %}
  {% if data.time %}
  <h2><strong>Опубликовано </strong>{{ data.time|date:'d-m-Y' }}</h2>
  {% endif %}
  {% if data.fond_link %}
  <h2><strong>URL фонда </strong>{{ data.fond_link }}</h2>
  {% endif %}
</section>
{% endblock %}