{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">
  {% if data.card_name %}
  <h2><strong>Категория </strong>{{ data.card_name }}</h2>
  {% endif %}
  {% if data.title %}
  <h2><strong>Заглавие </strong>{{ data.title }}</h2>
  {% endif %}
  {% if data.lead %}
  <h2><strong>Описание </strong>{{ data.lead }}</h2>
  {% endif %}
  {% if data.time %}
  <h2><strong>Опубликовано </strong>{{ data.time }}</h2>
  {% endif %}
  {% if data.fond_link %}
  <h2><strong>URL фонда </strong>{{ data.fond_link }}</h2>
  {% endif %}
</section>
{% endblock %}
