{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">
  <input class="form-control col-sm 3" id='user_input'  placeholder="Поиск по 223 фз" type="text">
  {% for fz in fz223s %}
  <div class="info-card" onclick="location.href='{% url 'detailed' tab_name fz.id %}'">
    <h2>{{fz.name}}</h2>
    <h3>{{fz.create_date|date:"d-m-Y"}}</h3>
  </div>
  {% endfor %}
</section>

{% load static %}
  <script src="{% static 'js/cards_filter.js' %}"></script>

{% endblock %}

