{% extends "layout.html" %}

{% load humanize %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">

  <div align="right" style="margin-top: 1ex;" id="favorite">
    {% if is_favorite %}
      <a href=" {% url 'favorite_post' "Fz44" data.id %} "> 
        <i style="color: #343a40" class="fas fa-bookmark fa-2x"></i>
      </a>
    {% else %}
      <a href=" {% url 'favorite_post' "Fz44" data.id %} "> 
        <i style="color: #343a40" class="far fa-bookmark fa-2x"></i>
      </a>
    {% endif %}
  </div>

  {% if data.fz44id %}
  <h2><strong>Идентификатор </strong>{{ data.fz44id }}</h2>
  {% endif %}
  {% if data.link %}
  <h2><strong><a href="{{ data.link }}"> URL документа в ЕИС </a></strong></h2>
  {% endif %}
  {% if data.purchase_number %}
  <h2><strong>Номер закупки </strong>{{ data.purchase_number }}</h2>
  {% endif %}
  {% if data.purchase_object %}
  <h2><strong>Название закупки </strong>{{ data.purchase_object }}</h2>
  {% endif %}
  {% if data.org_name %}
  <h2><strong>Наименование организации </strong>{{ data.org_name }}</h2>
  {% endif %}
  {% if data.start_date %}
  <h2><strong>Дата начала подачи заявок </strong>{{ data.start_date }}</h2>
  {% endif %}
  {% if data.end_date %}
  <h2><strong>Дата окончания подачи заявок </strong>{{ data.end_date }}</h2>
  {% endif %}
  
  {% if data.max_price %}
  <h2><strong>Начальная цена договора </strong>{{ data.max_price|intcomma }} {{ data.currency|lower }}</h2>
  {% endif %}
  {% if data.finance_source %}
  <h2><strong>Источник финансирования </strong>{{ data.finance_source }}</h2>
  {% endif %}
  {% if data.aplication_guarantee %}
  <h2><strong>Обеспечение заявок </strong>{{ data.aplication_guarantee }}</h2>
  {% endif %}
  {% if data.contract_guarantee %}
  <h2><strong>Размер обеспечения исполнения контракта </strong>{{ data.contract_guarantee }}</h2>
  {% endif %}
  {% if data.delivery %}
  <h2><strong>Доставка </strong>{{ data.delivery }}</h2>
  {% endif %}
  {% if data.delivery_place %}
  <h2><strong>Место доставки </strong>{{ data.delivery_place }}</h2>
  {% endif %}
</section>
{% endblock %}
