{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">
  {% if fz.fz44id %}
  <h2>{{ fz.fz44id }}</h2>
  {% endif %}
  {% if fz.link %}
  <h2>{{ fz.link }}</h2>
  {% endif %}
  {% if fz.purchase_number %}
  <h2>{{ fz.purchase_number }}</h2>
  {% endif %}
  {% if fz.purchase_object %}
  <h2>{{ fz.purchase_object }}</h2>
  {% endif %}
  {% if fz.org_name %}
  <h2>{{ fz.org_name }}</h2>
  {% endif %}
  {% if fz.placing_way %}
  <h2>{{ fz.placing_way }}</h2>
  {% endif %}
  {% if fz.start_date %}
  <h2>{{ fz.start_date }}</h2>
  {% endif %}
  {% if fz.end_date %}
  <h2>{{ fz.end_date }}</h2>
  {% endif %}
  {% if fz.place %}
  <h2>{{ fz.place }}</h2>
  {% endif %}
  {% if fz.max_price %}
  <h2>{{ fz.max_price }}</h2>
  {% endif %}
  {% if fz.currency %}
  <h2>{{ fz.currency }}</h2>
  {% endif %}
  {% if fz.finance_source %}
  <h2>{{ fz.finance_source }}</h2>
  {% endif %}
  {% if fz.aplication_guarantee %}
  <h2>{{ fz.aplication_guarantee }}</h2>
  {% endif %}
  {% if fz.contract_guarantee %}
  <h2>{{ fz.contract_guarantee }}</h2>
  {% endif %}
  {% if fz.delivery %}
  <h2>{{ fz.delivery }}</h2>
  {% endif %}
  {% if fz.delivery_place %}
  <h2>{{ fz.delivery_place }}</h2>
  {% endif %}
</section>
{% endblock %}
