{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<section class="container">

  <div align="right" style="margin-top: 1ex;" id="favorite">
    {% if is_favorite %}
      <a href=" {% url 'favorite_post' "Grant" data.id %} "> 
        <i style="color: #343a40" class="fas fa-bookmark fa-2x"></i>
      </a>
    {% else %}
      <a href=" {% url 'favorite_post' "Grant" data.id %} "> 
        <i style="color: #343a40" class="far fa-bookmark fa-2x"></i>
      </a>
    {% endif %}
  </div>
  
  {% if data.label %}
  <h2><strong>Категория </strong>{{ data.label }}</h2>
  {% endif %}
  {% if data.text %}
  <h2><strong>Описание </strong>{{ data.text }}</h2>
  {% endif %}
  {% if data.fond %}
  <h2>{{ data.fond }}</h2>
  {% endif %}
  {% if data.org %}
  <h2><strong>Организация </strong>{{ data.org }}</h2>
  {% endif %}
  {% if data.time %}
  <h2><strong>Опубликовано </strong>{{ data.time|date:'d-m-Y' }}</h2>
  {% endif %}
  {% if data.days %}
  <h2><strong>Дней до окончания </strong>{{ data.days }}</h2>
  {% endif %}
  {% if data.rouble %}
  <h2><strong>Сумма финансирования </strong>{{ data.rouble }}</h2>
  {% endif %}
  {% if data.fond %}
  <h2><strong>Наименование фонда </strong>{{ data.fond }}</h2>
  {% endif %}
  {% if data.fond_link %}
  <h2><strong>URL фонда </strong>{{ data.fond_link }}</h2>
  {% endif %}
  {% if data.link %}
  <h2><strong><a href= {{ data.link }} >Ссылка на оригинал</a></strong></h2>
  {% endif %}
</section>
{% endblock %}
