{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container">
  {% if grant.label %}
  <h2><strong>Категория </strong>{{ grant.label }}</h2>
  {% endif %}
  {% if grant.text %}
  <h2><strong>Описание </strong>{{ grant.text }}</h2>
  {% endif %}
  {% if grant.fond %}
  <h2>{{ grant.fond }}</h2>
  {% endif %}
  {% if grant.org %}
  <h2><strong>Организация </strong>{{ grant.org }}</h2>
  {% endif %}
  {% if grant.time %}
  <h2><strong>Опубликовано </strong>{{ grant.time|date:'d-m-Y' }}</h2>
  {% endif %}
  {% if grant.days %}
  <h2><strong>Дней до окончания </strong>{{ grant.days }}</h2>
  {% endif %}
  {% if grant.rouble %}
  <h2><strong>Сумма финансирования </strong>{{ grant.rouble }}</h2>
  {% endif %}
  {% if grant.fond %}
  <h2><strong>Наименование фонда </strong>{{ grant.fond }}</h2>
  {% endif %}
  {% if grant.fond_link %}
  <h2><strong>URL фонда </strong>{{ grant.fond_link }}</h2>
  {% endif %}
</section>
{% endblock %}
