{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block regions_list %}
  <li><a href="/">ФЗ{{ tab_name|slice:"2:" }}</a></li>
  {% block fz %}
  {% endblock %}
{% endblock %}


{% block content %}

<section class="container">
  <input class="form-control col-sm 3" id='user_input'  placeholder="Поиск по регионам" type="text">
  {% for region, url_region in regions %}
    <div id='{{region|lower}}' class="info-card" onclick="location.href='{% url 'region_types_list' tab_name url_region%}'"> 
      {{region}}
    </div>
  {% endfor %}
</section>

{% load static %}
<script src="{% static 'js/regions_filter.js' %}"></script>
{% endblock %}