{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<section class="container">
  <input class="form-control col-sm 3" id='user_input'  placeholder="Поиск по регионам" type="text">
  {% for region in regions %}
    <div id='{{region|lower}}' class="info-card" onclick="location.href='{% url 'types_list' tab_name %}'"> 
      {{region}}
    </div>
  {% endfor %}
</section>

{% load static %}
<script src="{% static 'js/regions_filter.js' %}"></script>
{% endblock %}